{% extends 'shop/basic.html' %}

{% block title%} gfvhklfgf {% endblock %}
{% block body%}


<style>
div.a {
  text-align: right;
}

</style>


{% for i in xv %}



<div class="row">

<div class="col-md-12">
<div class="card text-white bg-dark mb-10">
  <div class="row g-0">

    <div class="col-md-2">
        <img src="/media/{{i.cartimage}}" width="180">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{i.cartname}}</h5>
        <p class="card-text">{{i.cartdecs}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <form action="" method="post">{% csrf_token %}

              <div class="a">
    <h3 class="card-title">Price:-{{i.cartprice}}</h3>
          </div>

              <button   id="{{i.cartid}}" name="cartid" value="{{i.cartid}}" class="btn btn-primary cart" type="submit">Remove</button>
                 </form>

      </div>
    </div>
  </div>
</div>
</div>


  </div>

{%endfor%}



<div class="card text-white bg-dark mb-3" style="max-width: 100rem;">
  <div class="card-body">
      <div class="row">
          <div class="a">
    <h3 class="card-title">Total  {{price}}</h3>
          </div>
             <a href="/adress/" class="btn btn-primary">Checkout</a>



  </div>
  </div>
</div>

{%endblock%}